<?xml version="1.0" encoding="utf-8" ?>
<server>
	<log path="log" prefix="Lobby" max_file_size="5">
		<dev console="yes" file="yes" sys="no"/>
		<inf console="yes" file="yes" sys="no"/>
		<wrn console="yes" file="yes" sys="no"/>
		<err console="yes" file="yes" sys="no"/>
	</log>
	
	<mysql  name="account"	id="1"    host="127.0.0.1" port="3306" db="account" user="gamnet" passwd="P@ssword!" fail_query_log="false"/>
	<sqlite name="gamnet_sqlite"	id="1"  db="gamnet.sqlite"/>
	<redis  name="gamnet_redis" id="1"  host="localhost" port="6379"/>
	<http port="8081"/>
	<tcp port="40000" max_count="8000" accept_queue="4000" keep_alive="3000" thread_count="20"/>
	
	<!--
	<test host="127.0.0.1" port="40000" session_count="1" loop_count="1">
		<message name="Test_User_Login"/>
		<message name="Test_Lobby_Join"/>
		<message name="Test_Lobby_OpenMail"/>
		<message name="Test_Item_OpenPackage"/>
		<message name="Test_Dungeon_CreateDungeon"/>
	</test>
	-->
</server>
