<?xml version="1.0" encoding="utf-8" ?>
<server>
	<log path="log" prefix="BasicStandAloneServer" max_file_size="5">
		<dev console="yes" file="yes" sys="no"/>
		<inf console="yes" file="yes" sys="no"/>
		<wrn console="yes" file="yes" sys="no"/>
		<err console="yes" file="yes" sys="no"/>
	</log>

	<tcp port="10000" max_count="8000" accept_queue="4000" keep_alive="30"/>
	<http port="10001"/>
	<test host="127.0.0.1" port="10000" session_count="1" loop_count="1">
		<message name="Test_HelloWorld"/>
	</test>
</server>
