<?xml version="1.0" encoding="UTF-8" ?>
<server>
	<log path="log" max_file_size="5">
		<dev console="yes" file="yes" sys="no"/>
		<inf console="yes" file="yes" sys="no"/>
		<err console="yes" file="yes" sys="no"/>
	</log>
	
	<test host="localhost" port="20000" session_count="1" loop_count="1" interval="98">
		<message name="Msg_CS_Echo_Req"/>
	</test>
</server>
