<?xml version="1.0" encoding="utf-8" ?>
<server>
	<log path="log" prefix="GameServer" max_file_size="5">
		<dev console="no" file="no" sys="no"/>
		<inf console="yes" file="yes" sys="no"/>
		<wrn console="yes" file="yes" sys="no"/>
		<err console="yes" file="yes" sys="no"/>
	</log>
	
	<mysql name="global"		id="1"	host="127.0.0.1" port="3306" db="game_global" user="gamnet" passwd="P@ssword!" fail_query_log="false"/>
  <!--
	<redis name="gamnet_redis"	id="1"	host="127.0.0.1" port="6379"/>
	-->
	<tcp port="40001" max_count="8000" accept_queue="4000" keep_alive="120" thread_count="20"/>
	<http port="8081"/>
  <!--
	<router name="GAME" id="1" port="50001">
		<farm host="127.0.0.1" port="6379"/>
	</router>
  -->
		
	<test host="127.0.0.1" port="40001" session_count="1" loop_count="1">
		<message name="Test_Create"/>
		<message name="Test_Login"/>
		<message name="Cheat_AddItem"/>
		<message name="Test_Item_EquipItem"/>
		<message name="Test_Item_OpenPackage"/>
    <message name="Test_Item_SellItem"/>
    <message name="Test_Item_UnequipItem"/>
		<!--
		<message name="Test_Lobby_Join"/>
		<message name="Test_Lobby_OpenMail"/>
		<message name="Test_Dungeon_CreateDungeon"/>
		-->
	</test>
</server>
