<?xml version="1.0" encoding="utf-8" ?>
<server>
  <log path="log" prefix="server" max_file_size="5">
    <dev console="yes" file="yes" sys="no"/>
    <inf console="yes" file="yes" sys="no"/>
    <wrn console="yes" file="yes" sys="no"/>
    <err console="yes" file="yes" sys="no"/>
  </log>

  <tcp port="40000" max_count="8000" accept_queue="100" keep_alive="30" thread_count="20"/>
  <http port="40001"/>
  <farm host="127.0.0.1" port="6379"/>
  <router name="ROUTER_1" port="40002">
    <remote name="ROUTER_1" host="127.0.0.1" port="40002"/>
    <remote name="ROUTER_2" host="127.0.0.1" port="40022"/>
  </router>
  
  <test host="127.0.0.1" port="40000" session_count="1" loop_count="1">
    <message name="Test_SendMessage"/>
  </test>
</server>
