Package: gamnet-linux-build-essential
Version: 1.1.1
Section: devel
Priority: optional
Architecture: all
Depends: build-essential, subversion, openjdk-7-jdk, libmysqlclient-dev, libmysql++-dev, libcurl4-openssl-dev,
 libjson0, libjson0-dev, libjsoncpp0, libjsoncpp-dev, python-twisted-core, flex, cmake
Recommends: libjson0-dbg, python-mysqldb
Maintainer: Gamnet Server Developers <kukuta@gmail.com>
Description: Gamnet Server Devlopment base library install package
 1.0.0 : init
 1.0.1 : add idlc
 1.0.2 : [idlc] c# object array initailze bug fix
 1.1.0 : [idlc] available comment in enum, available hex integer
 1.1.1 : [idlc] enum bug fix
Homepage: http://kukuta.tistory.com
