<?xml version="1.0" encoding="UTF-8" ?>
<server>
	<log path="log" prefix="server" max_file_size="5">
		<dev console="yes" file="yes" sys="no"/>
		<inf console="yes" file="yes" sys="no"/>
		<wrn console="yes" file="yes" sys="no"/>
		<err console="yes" file="yes" sys="no"/>
	</log>
	
	<!--
	<database name="DB_NAME_1" id="1" host="some.host.com" port="3306" user="user_id" passwd="user_passwd" db="db_name_1" />
	<database name="DB_NAME_2" id="2" host="some.host.com" port="3306" user="user_id" passwd="user_passwd" db="db_name_2" />
	-->
	
	<test host="127.0.0.1" port="20000" session_count="1" loop_count="1" interval="100">
		<message name="Test_Login"/>
	</test>
</server>
