<?xml version="1.0" encoding="utf-8" ?>
<server>
  <log path="log" prefix="server" max_file_size="5">
    <dev console="yes" file="yes" sys="no"/>
    <inf console="yes" file="yes" sys="no"/>
    <wrn console="yes" file="yes" sys="no"/>
    <err console="yes" file="yes" sys="no"/>
  </log>

  <tcp port="10000" max_count="8000" accept_queue="100" keep_alive="30"/>
  <router name="Echo" port="10001">
    <farm host="127.0.0.1" port="6379"/>
  </router>
  
  <test host="127.0.0.1" port="10000" session_count="1024" loop_count="10">
    <message name="Test_EchoMessage"/>
  </test>
</server>
